/*
 Context Root css. based on css from http://jonas.objectweb.org
 XHTML by Florent BENOIT
*/

.bodywelcome
{ 
  background-color: #FFFFFF;
  color: #000000;
  background-image: url(img/ow_logo.png);
  background-repeat: no-repeat;
  margin: 0;
}


img { 
  margin: 5px;
  border:0;
}

body
{
        background-color: #FFFFFF;
        margin: 10px;
        color: black;
        font-family: Arial,Helvetica, sans-serif;
        font-size: 12px;
        line-height: 16px;
        font-weight: normal;
        
}

div.logos {
  top: 5px;
  width: 99%;
  text-align: right;
}


div.links {
  font-size: 14px;
  margin-top : 40px;
  margin-left : 100px;
}


div.titlepage {
  margin-left: 200px;
  color: #E06611;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 27px;
  font-weight: bold;
  border-color: #99C;
  border-width: 0 0 4px 0;
  border-style: none none solid none;
}


div.footer {
  margin-top : 50px;
  color: #FFFFFF;
  font-size: 8pt;
  text-align: center;
}


/*HTML elements */



ul, ol, dl
{
        color: black;
        font-family: Arial,Helvetica, sans-serif;
        font-size: 12px;
        line-height: 16px;
        font-weight: normal;
}

li
{
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: normal;
        margin: 10px 0px 5px 0px;

}
a
{
        color: #3F3975;
        background-color: transparent;
        text-decoration: underline;
}

a:visited
{
        color: #9898CB;
        background-color: transparent;
        text-decoration: underline;
}

a:hover
{
        color: #E06611;
        background-color: transparent;
        text-decoration: underline;
}


a:active
{
        color: #FFFFFF;
        background-color: #E06611;
        text-decoration: underline;
}


h1
{
        color: #E06611;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 22px;
        line-height: 27px;
        font-weight: bold;
        border-color: #99C;
        border-width: 0 0 4px 0;
        border-style: none none solid none;
        margin: 10px 0px 5px 0px;
}

h2
{
        color: #99C;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        line-height: 27px;
        font-weight: normal;
        border-color: #E06611;
        border-width: 0 0 4px 0;
        border-style: none none solid none;
        margin: 10px 0px 5px 0px;

}

h3
{
        color: #E06611;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        line-height: 27px;
        font-weight: bold;
        border-color: #E8EAF0;
        border-width: 0 0 2px 0;
        border-style: none none solid none;
        margin: 10px 0px 5px 0px;

}
h4
{
        color: #99C;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        line-height: 24px;
        font-weight: normal;
        border-color: #E8EAF0;
        border-width: 0 0 2px 0;
        border-style: none none solid none;
        margin: 10px 0px 5px 0px;

}
h5
{
        color: #E06611;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        line-height: 24px;
        font-weight: normal;
        border-color: #E8EAF0;
        border-width: 0 0 2px 0;
        border-style: none none solid none;
        margin: 10px 0px 5px 0px;

}
h6
{
        color: #99C;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        line-height: 22px;
        font-weight: normal;
        border-color: #E8EAF0;
        border-width: 0 0 2px 0;
        border-style: none none solid none;
        margin: 10px 0px 5px 0px;

}

td
{
        color: black;
        font-family: Arial,Helvetica, sans-serif;
        font-size: 12px;
        font-weight: normal;
}

p
{
        color: black;
        font-family: Arial,Helvetica, sans-serif;
        font-size: 12px;
        line-height: 16px;
        font-weight: normal;
        margin: 10px 10px 5px 0px;
}

p.error
{
        color: red;
}

