<!--
  Copyright (c) 2001 Evidian. All rights reserved.

  JOnAS Alarm Demo: top part of all pages
-->

<body bgcolor="white">
    <table width=100%>
      <tr>
	<td><img src="../images/logo_jonas.jpg" alt="JOnAS Logo"></td>
	<td><font size=+3><strong>The JOnAS Alarm Demo</strong></font></td>
	<td><img src="../images/tomcat.gif" alt="Tomcat Logo"></td>
	<td><img src="../images/jetty.png" alt="Jetty Logo"></td>
      </tr>
    </table>
