  <h2>All Suites</h2>

  <table width="95%" cellspacing="2" cellpadding="5" border="0" class="details">
    <tbody>
      <tr valign="top">
        <th width="80%">Name</th>
      </tr>
      <tr valign="top" class="">
        <td><a href="#conformance"><b>JOnAS Junit Test Suite - conformance</b></a></td>
      </tr>
      <tr valign="top" class="">
        <td><a href="#examples"><b>JOnAS Junit Test Suite - examples</b></a></td>
      </tr>
      <tr valign="top" class="">
        <td><a href="#webservices"><b>JOnAS Junit Test Suite - webservices</b></a></td>
      </tr>
    </tbody>
  </table>
