body {
	background: #eef7fd;
	font-family: arial, helvetica, sans-serif;
	font-size: 11pt;
}

h1,h2,h3,h4,th {
	color: #9f3e19;
	font-weight: bold;
	margin: 5pt;
}

h1 {
	font-size: 18pt;
	padding-bottom: 10pt;
}

h2 {
	font-size: 13pt;
}

h3,th {
	text-align: center;
	font-size: 12pt;
	color: #42648e;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

h4 {
	font-size: 12pt;
}

#workspace {
	overflow: auto;
	margin-right: 10px;
	margin-left: 0.5ex;
	padding: 10px;
	border-style: dotted;
	border-width: 1px;
	border-color: #42648e;
	background-color: white;
}

#workspace table {
	width: 100%;
	border-spacing: 0;
}

.media-proxy {
	height: 60px;
	vertical-align: middle;
	padding-top: 5px;
}

img {
	border-style: none;
}

.media {
	text-align: center;
}

#menu {
	float: left;
	margin-right: 0.5ex;
	width: 30ex;
	height: 100%;
	font-size: 11pt;
}

#menu p {
	text-align: center;
}

.menu-box {
	border-style: dashed;
	border-width: 1px;
	border-color: #42648e;
	background-color: white;
	margin-bottom: 1ex;
	padding-left: 1ex;
	padding-right: 1ex;
	padding-bottom: 1ex;
}

.menu-box .submit {
	padding: 10px;
	text-align: center;
}

.media-size {
	vertical-align: middle;
}

.media-mimetype {
	vertical-align: bottom;
}

.media-desc {
	font-size: medium;
	vertical-align: top;
}

.url {
	font-size: 11pt;
	font-stretch: ultra-condensed;
}

label {
	display: block;
	float: left;
	width: 8em;
	padding-right: 1em;
	text-align: right;
}

.even {
	background-color: #FFFFFF;
}

.odd {
	background-color: #F6F6F6;
}

.error {
	color: red;
}

pre.error {
	font-size: 10pt;
}