body {
/* background: white url(../../resources/images/draft.png) repeat right top; */
font: verdana,sans-serif;

}

 a:link {
     color: #0000CC;
     text-decoration: none;
     font-style: normal;
 }

 a:visited {
     color: #0000CC;
     text-decoration: none;
 }
 a:hover {
     color: red;
     text-decoration: none;
     background-color: #ecf5ff;
 }
 a:active {
     color: #0000CC;
     text-decoration: none;
 }


h1
{
		border-width: 6px ;
		border-style: none ;

        line-height: 27px;
        border-color: #99C;/*#F8F6E2;*/

        margin: 5px 5px 5px 5px;
        background-color:#eff5fb;
		width:85%;
		color:      #003399;
 		margin-top:  45px;
        padding: 20px 50px;
}

h2
{

        font-size: 20px;
        line-height: 27px;
        font-weight: normal;
        border-color:#99C;

        border-width: 2px  0 0 0;
        border-style: solid none none none;
        background-color:#eff5fb;
		width:45%;
}



h3, h4, h5, h6   {
	 color:      #003399;
     font-weight: 500;
     margin-top:  10px;
     padding-top: 5px;
}


 h1 { font-size: 150%; }
 h2 { font-size: 140%;  color: #3e80a2;}
 h3 { font-size: 110%; font-weight: bold; }
 h4 { font-size: 110%; font-weight: bold;}
 h5 { font-size: 100%; font-style: italic; }
 h6 { font-size: 100%; font-style: italic; }



 tt {
     font-size:  90%;
     font-style: monospace;
     color:      #111111;
 }


 pre {
     font-size:        100%;
     padding:          5px;
     border-style:     solid;
     border-width:     1px;
     border-color:     #CCCCCC;
     background-color: #F4F4F4;
 }

 hr  {
     width:            100%;
     height:           1px;
     background-colorcolor:black;
     background-color:white;: #CCCCCC;
     border-width:     0px;
     padding:          0px;
     color:            #CCCCCC;
 }



 .variablelist {
     padding-top:    10;
     padding-bottom: 10;
     margin:         0;
 }
 .itemizedlist {
     padding-top:    0;
     padding-bottom: 0;
     margin:         0;

 }
 .orderedlist{
     padding-top:    0;
     padding-bottom: 0;
     margin:         0;
 }
 .term {
     font-weight: red;bold;
 }


 .warning
 {
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #FBDADA;
 }

.screen {
    background-color: #edf8fd;
	forground-color: black;
    border: 1px solid #9999cc;
    padding: 0.5em;
    margin: 2em;
	width:85%;

   }

.informaltable table {
	padding: 10px;
	border: none;

}

.informaltable tr:first-child td {
   	background-color:#C0C9D8;
	padding: 10px 8px 10px 8px;
	font-weight:bold;
    font-size: normal;

}


.informaltable tr{

	border-bottom: 5px solid #FFFFFF;
	border-top: 5px solid #FFFFFF;

}

.informaltable td{

	margin: 0px 0px 0px 0px;
	padding: 10px 8px 10px 8px;

	background-color: #EAEDF2;
    font-size: small;

}
.informaltable td p {
	background-color:#EAEDF2;
}
.informaltable li p{
	background-color:#EAEDF2;
}

.calloutlist tr:first-child td {
	background-color:FFFFFF;
}

.calloutlist tr {
	background-color:FFFFFF;font-size: small;
}

 .caution tr:first-child td{
    background-color:FFFFFF;
}

.caution tr {
    background-color:FFFFFF;
	font-size: small;
}
.caution table {
	border: none;
	border-color: #C0C9D8;
	margin: 5px;
}

.note tr:first-child td{
    background-color:FFFFFF;
}

.note tr {
    background-color:FFFFFF;
	font-size: small;
}

.note table {
	border: none;
	border-color: #C0C9D8;
	margin: 2px;
}
 .note {
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color:FFFFFF;

}

.mediaobject {
	border-top: 5px solid #FFFFFF;
	border-bottom: 5px solid #FFFFFF;
	border-color:#EAEDF2;
	margin: 10px;
	padding:5px;
}

.glossary dt {
        background-color:#eff5fb;
		width:5%;
}

.programlisting {
	overflow:auto;width:75%;height:200px;
	border-top: 5px solid #FFFFFF;
	border-bottom: 5px solid #FFFFFF;
	border-color:black;
	margin: 10px;
	padding:5px;
}
