body {
 # background: white url("../../resources/images/draft.png") repeat right top;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
}
  
table {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  border: none;
}
 
code {
  font-family: Monospace;
  font-size: 1em;
}
  
p {
  text-align: justify;
  margin: 8px;
}

ul {
  margin: 2px;
}

a:link {
  color: #0000CC;
  text-decoration: none;
  font-style: normal;
}

a:visited {
  color: #0000CC;
  text-decoration: none;
}

a:hover {
   color: red;
   text-decoration: none;
}

a:active {
   color: #0000CC;
   text-decoration: none;
}
 
h1 {
  line-height: 27px;
  border-width: 1px;
  border-style: solid;
  border-color: #336699;
  background-color: #E0ECF8;
  color: #003399;
  margin-top: 20px;
  padding: 20px 0px 20px 50px;
  font-size: 1.6em;
}

h2 {
  line-height: 27px;
  font-weight: normal;
  font-size: 1.2em;
  border-color: #336699;
  border-width: 1px 0px 1px 0;
  border-style: solid none solid none;
  background-color: #E0ECF8;
  padding-left: 5px;
  color: #3e80a2;
}

h3, h4{
  color: #003399;
  font-weight: bold;
  font-size: 1.2em;
}

h5, h6 {
  color: #003399;
  font-weight: italic;
  font-size: 1.2em;
}

tt {
  font-size: 90%;
  font-style: monospace;
  color: #111111;
}

pre {
  padding: 5px;
  background-color: #F4F4F4;
  width: 65em;
}

hr {
  width: 100%;
  height: 1px;
  background-color: white;
  border-width: 0px;
  padding: 0px;
  color: #CCCCCC;
}

table p, dd p, li p {
  margin: 0;
}

.itemizedlist {
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}
 
.orderedlist{
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}

.term {
  font-weight: bold;
}

.warning {
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #FBDADA;
}
 
.programlisting {
  overflow: auto;
  border: 1px dashed #9999cc;
  max-height: 20em;
}

.screen {
  overflow: auto;
  border: 1px dashed #9999cc;
  width: 75em;
}

.literallayout {
  border: 1px solid #9999cc;
  width: 65em;
  background-color: #F4F4F4;
  font-family: Monospace;
  padding: 5px;
}

.literallayout p {
  margin: 0;
}
   
.table-contents th {
  background-color: #C0C9D8;
  padding: 2px;
  font-weight: bold;
}

.table-contents td {
  padding: 2px;
  background-color: #EAEDF2;
}

.informaltable th {
  background-color: #C0C9D8;
  padding: 2px;
  font-weight: bold;
}

.informaltable td {
  padding: 2px;
  background-color: #EAEDF2;
}

.caution table, .note table  {
  border-color: #C0C9D8;
  margin: 2px;
}

.mediaobject {
  border-top: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  border-color: #EAEDF2;
  margin: 2px;
  padding: 2px;
}

.glossary dt {
  border-bottom: 1px solid #9999cc;
  background-color: ;
  width: 6%;
  margin-top: 5px;
  padding: 1px;
}

.property {
  font-family: Monospace;
  font-weight: italic;
  font-size: 1em;
}

.package {
  font-family: Monospace;
  font-weight: bold;
  font-size: 1em;
}

.calloutlist p {
  padding: 0;
  margin: 0;
}

.author h3 {
   font-size: 0.75em;
}
